@font-face {
    font-family: 'test-font';
    src: url('./UniTortred.ttf') format('ttf');
    font-weight: 800;
    font-style: normal
}

.hello{
    color: blue;
    font-family: 'test-font';
    background: url('./test_logo.png');
}